extends layout

block content
  div.jumbotron(style='background-image: url("../images/banner3.jpg");')
  div.filters-container
    h2 Filters:
    div.filters
      div.filter-options
        label Cost:
          input.cost(type='checkbox', value= '0', name='mana_cost')
          label 0
          input.cost(type='checkbox', value= '1', name='mana_cost')
          label 1
          input.cost(type='checkbox', value= '2', name='mana_cost')
          label 2
          input.cost(type='checkbox', value= '3', name='mana_cost')
          label 3
          input.cost(type='checkbox', value= '4', name='mana_cost')
          label 4
          input.cost(type='checkbox', value= '5', name='mana_cost')
          label 5
          input.cost(type='checkbox', value= '6', name='mana_cost')
          label 6
          input.cost(type='checkbox', value= '7', name='mana_cost')
          label 7
          input.cost(type='checkbox', value= '8', name='mana_cost')
          label 8
      div.filter-options
        label Attack:
          input.attack(type='checkbox', value= '0', name='attack_value')
          label 0
          input.attack(type='checkbox', value= '1', name='attack_value')
          label 1
          input.attack(type='checkbox', value= '2', name='attack_value')
          label 2
          input.attack(type='checkbox', value= '3', name='attack_value')
          label 3
          input.attack(type='checkbox', value= '4', name='attack_value')
          label 4
          input.attack(type='checkbox', value= '5', name='attack_value')
          label 5
          input.attack(type='checkbox', value= '6', name='attack_value')
          label 6
          input.attack(type='checkbox', value= '7', name='attack_value')
          label 7
          input.attack(type='checkbox', value= '8', name='attack_value')
        label 8
      div.filter-options
        label(name='rarity') Rarity:
          input.rarity(type='checkbox', value='Free')
          label Free
          input.rarity(type='checkbox', value='Common')
          label Common
          input.rarity(type='checkbox', value='Rare')
          label Rare
          input.rarity(type='checkbox', value='Epic')
          label Epic
          input.rarity(type='checkbox', value='Legendary')
          label Legendary
      div.filter-options
        label Type:
          input.type(type='checkbox', value='Spell')
          label Spell
          input.type(type='checkbox', value='Weapon')
          label Weapon
          input.type(type='checkbox', value='Minion')
          label Minion
  div.container
    h1(style='text-align: center') #{classCards[0].playerClass} Cards
    div.scroll
      div.card-img
          for card in classCards
            div.card
              p.hidden-name= card.name
              a.card-id(href=card.cardId)
                img(src=card.img)
    div.added-cards
      h2 #{classCards[0].playerClass} Deck
      h3#card-counter 0/30 cards
      form(action='/user-cards/' + userName, method='post')
        if userName
          input(type='submit', value='Add Cards to deck')
        if !userName
          h2(style='color: red;') Please log in to add cards
        h3#card-at-max Can not add any more. You are at 30 cards.
        table.cards-table
          thead
            tr
              th Name
              th Cost
          tbody#card-data
  div.footer
    p Andrew Cer 2015
  script(src='/javascripts/client.js')
