extends layout

block content
  div.jumbotron(style='background-image: url("../images/blackrock-mountain-wallpaper.jpg");')  div.filters-container
  div.filters-container
    h2 Filters:
    div.filters(style='opacity: 1;')
      div.filter-options
        label Your Deck(s)
          a(href='#') Warrior
          a(href='#') Shaman
          a(href='#') Rogue
          a(href='#') Paladin
          a(href='#') Hunter
          a(href='#') Druid
          a(href='#') Warlock
          a(href='#') Mage
          a(href='#') Priest
  div.container
    if userName
      h1(style='text-align: center') #{userName}'s Cards
    div.scroll
      div.card-img
        if deckInfo
          for card in deckInfo
            div.card
              p.hidden-name= card.name
              img(src=card.img)
    div.added-cards
      if deckInfo
        if playerClass
          if deckInfo[0].playerClass
            h2 #{deckInfo[0].playerClass} Deck
      form(action='/remove-cards/' + userName, method='get')
        label DANGER ZONE:
        br
        input(type='submit', value='Remove ALL Cards In Deck')
        br
        br
      form(action='/remove-cards/' + userName, method='post')
        label Click to remove selected card(s) from deck:
        br
        input(type='submit', value='Remove card(s)')
        table.cards-table
          thead
            tr
              th Name
              th Cost
              th Remove
          tbody#card-data
            if deckInfo
              for card in deckInfo
                tr.data-row
                  td
                    label.card-name(for=card.name)= card.name
                  if card.cost
                    td.card-cost= card.cost
                  else
                    td.card-cost 0
                  td
                    div
                      p.delete-card(style='text-align: center;') X
                      input.delete-info(id= card.name, style='display: none;' type='checkbox', value=card.name, name=card.cardId)
  div.footer
    p Andrew Cer 2015
  script(src='/javascripts/client.js')
